.card {
  margin-top: 3rem;
  width: 80%;
  margin: 3rem auto auto auto;
  border: none;
  background-color: transparent;
}

h5 {
  margin-bottom: 2rem;
}

.content .header {
  background-color: lightgray;
}


.company-selector {
  margin-bottom: 2rem;
}

