/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #20262e;
}

body {
  margin: 0 0 100px;
  background-color: #20262e !important;
    /* bottom = footer height */
    /* padding: 25px; */
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: #2a323d;
  color: white;
  border-color: #3f4b5b;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {
  background: #2a323d;
  color: white;
  border-color: #3f4b5b !important;
}
