<div class="card">
  <p-table [value]="jobs" dataKey="jobId" rowGroupMode="subheader" groupRowsBy="jobId" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Completed</th>
            <th>Task</th>
            <th>Completed Date</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-job let-rowIndex="rowIndex" let-expanded="expanded">
        <tr>
            <td colspan="5">
                <button type="button" pButton pRipple [pRowToggler]="job" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                <span class="font-bold ml-2">{{job.jobName}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="groupfooter" let-job>
        <tr class="p-rowgroup-footer">
            <td colspan="3" style="text-align: right">Completed Tasks</td>
            <td>{{calculateCompletedTasks(job.tasks)}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-job>
        <tr *ngFor="let task of job.tasks">
            <td>
              <p-checkbox [(ngModel)]="task.completed" [binary]="true" [disabled]="!checkUserAdmin()" (click)="completeTask(task)"></p-checkbox>
            </td>
            <td>
                {{task.taskName}}
            </td>
            <td>
                {{task.completedDate | date}}
            </td>
            <td></td>
        </tr>
    </ng-template>
  </p-table>
</div>
