<div class="card">
  <h5>Company Name Here</h5>
      <p-table [value]="tasks" dataKey="taskId" editMode="row" [reorderableColumns]="true" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th></th>
                  <th>Order</th>
                  <th>Completed</th>
                  <th>Name</th>
                  <th>Completed Date</th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-task let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="ri" [pReorderableRow]="task.taskOrder">
                  <td>
                    <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="task.taskOrder">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{task.taskOrder}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="task.completed" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{task.completed}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="task.taskName" />
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{task.taskName}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="task.completedDate">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{task.completedDate}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(task)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(task)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(task, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
  