<div class="login-container">
  <div class="card">
  <form>
    <div class="row mb-4">
      <h1>LOGO HERE</h1>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input pInputText type="email" id="username" class="form-control" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" />
      <label class="form-label" for="username">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input pInputText type="password" id="password" [(ngModel)]="password" class="form-control" [ngModelOptions]="{standalone: true}" />
      <label class="form-label" for="password" >Password</label>
    </div>

    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <div class="col">
          <button type="button" class="btn btn-primary form-control btn-block mb-4" (click)="login()">Sign in</button>
        </div>
        <div class="form-check">
          <!-- <input class="form-check-input" type="checkbox" value="" id="remember-me" checked /> -->
          <!-- <label class="form-check-label" for="remember-me"> Remember me </label> -->
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <h6>New User? Register Here</h6>
      <div class="col">
        <button type="button" class="btn btn-primary form-control btn-block mb-4" (click)="register()">Register</button>
      </div>
    </div>
  </form>
</div>
</div>
