.login-container {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 3rem;
  color: white;
}

.card {
  background: #2a323d !important;
  padding: 3rem;
}

.ng-invalid .ng-dirty {
  border: 1px solid red;
}

