/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #20262e;
}

body {
  margin: 0 0 100px;
  background-color: #20262e !important;
    /* bottom = footer height */
    /* padding: 25px; */
}

.p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #2a323d;
  color: white;
  border-color: #3f4b5b;
}

.p-datatable .p-datatable-tbody > tr {
  background-color: #2a323d;
  color: white;
  border-color: #3f4b5b !important;
}

/* .p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: grey;
}

.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
  background-color: #0d89ec;
} */

.p-inputtext {
  border: 1px solid #3f4b5b !important;
  background: #20262e !important;
  color: white !important;
}

.p-dialog .p-dialog-content {
  background: #2a323d;
  color: rgba(255, 255, 255, 0.87);
}

.p-dialog .p-dialog-header {
  border-bottom: 1px solid #3f4b5b;
  background: #2a323d;
  color: rgba(255, 255, 255, 0.87);
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.p-dialog .p-dialog-footer {
  border-top: 1px solid #3f4b5b;
  background: #2a323d;
  color: rgba(255, 255, 255, 0.87);
}

.p-dropdown {
  background: #20262e;
  border: 1px solid #3f4b5b;
  transition: background-color 0.15s;
  width: 30%;
}

.p-dropdown-panel {
  background: #2a323d !important;
  color: rgba(255, 255, 255, 0.87);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  border: 0 none;
  color: rgba(255, 255, 255, 0.87);
}

.p-dropdown-label.p-inputtext {
  background: #2a323d !important;
  border: none !important;
}

.p-dropdown-trigger {
  background: #2a323d !important;
}

.p-checkbox .p-checkbox-box {
  background: transparent;
}

.p-ripple {
  background-color: #2a323d !important;
  border-color: white !important;
  color: white !important;
}

.p-ripple.p-highlight {
  background-color: #0d89ec !important;
  color: white !important;
}

.p-listbox {
  background: #2a323d;
  border: none;
}

.p-listbox-header {
  background: #2a323d !important;
}

.p-progressbar.p-component.p-progressbar-indeterminate {
  background-color: #3f4b5b;
}

/* .form-control {
  background-color: transparent !important;
} */
